{% extends "default.html" %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}
<h1>{{ object.title }}</h1>
<br>
<br>
{% autoescape off %}
{{ object.content | safe }}
{% endautoescape %}
<br>
{% if user == object.author %}
<br>
<a href="{{ object.pk }}/edit">Редактировать</a>
<a href="{{ object.pk }}/delete">Удалить</a>
<br>
<h3>Комментарии:</h3>
<br>
{% for comment in comments %}
    {{ comment.created_on }}
    {% if comment.created_on != comment.updated_on %}
        (изменено {{ comment.updated_on }})
    {% endif %}
    <br>
    Автор: {{ comment.author }} <br>
    {{ comment.content }} <br>
    {% if comment.accepted %}
    <b>Предложение принято</b>
    {% else %}
    <a href="{% url 'accept_comment' comment.pk %}">Принять</a>
    {% endif %}
    <a href="{% url 'delete_comment' comment.pk %}">Удалить</a>
    <br>
    <br>
{% endfor %}
{% endif %}
<br>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Ответить">
</form>
{% endblock content %}